/build
.idea
.vscode

/cmake-build-debug/
subprojects/abseil-cpp-*/
subprojects/boringssl/
subprojects/brotli-*/
subprojects/fmt-*/
subprojects/googletest-*/
subprojects/lz4-*/
subprojects/packagecache/
subprojects/protobuf-*/
subprojects/zlib-*/
subprojects/zstd-*/
subprojects/AdbWinApi-*/
subprojects/libusb-*/
subprojects/boringssl-*/
subprojects/pcre2-*/
SBOM_scripts/**/__pycache__/
